<div class="col-xs-12">

<h1><%= @artist.name %> </h1>
<p><%= image_tag attachment_url(@artist, :image, :fill, 300, 400) %>
</p>

<p class="red"> <%= @artist.description %> </p>
</hr> 
<%= link_to "Add Snap Story", new_photo_path, :class => 'btn btn-lg btn-danger' %> 
<hr/> 
<div class="well">
<h1>This is her Snap Story Feed </h1>


<% @photos.each do |photo| %>

<div class="well">
<%= image_tag attachment_url(photo, :image, :fill, 200, 200) %>
<%= link_to "like", root_path, class: 'btn btn-xs btn-danger' %> 
<%= link_to "follow", root_path, class: 'btn btn-xs btn-default' %> 
</div>
<%end %>  
</div>

</div> 