<div class="col-xs-12">

<h1><%= @artist.name %> </h1>
<p><%= image_tag attachment_url(@artist, :image),:class => 'img-responsive col-xs-4' %>
</p>

</hr> 
<%= link_to "Add A Photo", new_photo_path, :class => 'btn btn-lg btn-danger' %> 
<hr/> 
<div class="well">
<h1>My Photo Feed </h1>


<% @photos.each do |photo| %>

<div class="well">
<%= image_tag attachment_url(photo, :image, :fill, 200, 200) %>
<%= link_to "like", root_path, class: 'btn btn-xs btn-danger' %> 
<%= link_to "follow", root_path, class: 'btn btn-xs btn-default' %> 
</div>
<%end %>  
</div>

</div> 